APP_ENV=production
DB_URL=postgres://zorro:ljFWu161GeSuxT720zOJEj30HnQtEqkihI3qGyd6@localhost:5432/onepiece
CGO_ENABLED=1
SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SECRET_KEY=ljFWu161GeSuxT720zOJEj30HnQtEqkihI3qGyd6
SUPABASE_BUCKET=test-bkt