# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Air
tmp/

# Environment
.env

# Sqlite database
*.db-wal
*.db-shm
*.db.bak*

# Node
node_modules/
static/dist/